<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
</head>
<body>
<textarea id="num" disabled></textarea>
{#<button id="button">ok</button>#}
<form>
    {{ form.as_p }}
    <button type="button" id="button">ok</button>
</form>
<script>
    var socket = new WebSocket('ws://localhost:8000/ws/some_url/')

    socket.onmessage = function (event) {
        var data = JSON.parse(event.data);
        console.log(data)
        $('#num').html(data.message)
    }

    $('#button').click(function () {
        socket.send(JSON.stringify({
            "symbol": $('#id_symbol').val(),
            "price": $('#id_price').val(),
        }))
    })
</script>
</body>
</html>